@import "tailwind.css";
/* This gets resolved correctly, the editor is wrong */
/*noinspection CssUnknownTarget*/
@import "@mantine/core/styles.css";
@tailwind utilities;

@keyframes swipeableListContentSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80px);
  }
}

@keyframes swipeableListActionsSlide {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

/* Target the leading actions of the first swipeable list item that has a child with the .slide-animation class */
.swipeable-list-item:has(.swipeable-list-item__content > .slide-animation):first-of-type .swipeable-list-item__leading-actions {
  animation: swipeableListActionsSlide 700ms ease-in-out 4 alternate;
}

/* Target the content of the first swipeable list item that has a child with the .slide-animation class */
.swipeable-list-item:has(.swipeable-list-item__content > .slide-animation):first-of-type .swipeable-list-item__content {
  animation: swipeableListContentSlide 700ms ease-in-out 4 alternate;
}